body{
background-color:grey;
margin: 1cm;
margin-top: 0cm;
}

.page{
border-top: 9px  red solid;
border-style:solid;
background-color: white;
}

.border{
background-color: snow;
margin-right: 1cm;
margin-left:1cm;

}

td,th{
border-style: solid;
color: black;
}

table{
border-spacing: 0;
border-collapse: collapse;
width: 50%;
}

.learn-more-button{
position: relative;
top: 1cm;
right: 3cm;
border-style: solid;
padding-left: 10px;
padding-right: 10px;
text-transform: none;
margin: 25px 5px;
padding: 10px;
background-color:white;
}

.product {
position: relative;
top: 0.5cm;
height: 15%;
padding: 30px;
margin-bottom: 25px;
border-radius: 30px;
background: red;
color: #ffffff;
margin-left: 1cm;
margin-right:1cm;
margin-bottom:1cm;
}

.tab{
padding:3px;
padding-right:10px;
color:black;
border-style:none;
border-top-style:none;
border-bottom-style:none;
border-left-style: solid;
}


.Global-view {
position: relative;
left: 92%;
background-color:rgb(42,42,42);
padding:10px 10px;
margin:2px 2px 4px;
color:white;
background-color: white;
color:black;

}

a{
text-decoration: none;
color: blue;
}

a:hover{
opacity: 0.6;
text-decoration: underline;
}

a: visited{
color: red;
}


.Link{
margin-left: 1cm;

}

.text{
text-align: justify;
line-height:20%;
}

.portfolios_rolling{
position: relative; 
margin-top: 0.5cm;
}
.dropdown_factors{
position: relative; 
bottom: 0.93cm;
width:8cm;
left:6cm;
margin-bottom:-1cm;
}

.buttonrolOLS{
position: relative;
margin-left: 15cm;
bottom: 1.2cm;
padding:5px;
background-color: white;
}

.buttonrolOLS:hover{
opacity:0.6
}

.Nav{
margin-left: 1cm
}

.NavGlobalconcat{
position: relative;
margin-left: 8cm;
top: 6.13cm;
}
.navglobal{
position: relative;
margin-left: 1cm;
top: 6.13cm;
}
h1{
position: relative;
text-align: center;
border-style: none;
bottom: 6px;
}
h2{
text-align:center;
border-style:solid;
color: white;
background-color: black;
margin-right: 1cm;
}

h4{
border-left: 5px solid;
padding-left: 0.3cm;
}

h2{
margin-left: 1cm;
}

.subtitle{
margin-left:14cm;
}

.data table{
margin-left:14cm;
}

.sub-page{
position: relative;
bottom: 7cm;
margin-left:1cm;
}

.TOC{
position: relative;
margin-left:14cm;
bottom: 2cm;
}

.Producer{
margin-left: 1cm;
position: relative;
bottom: 8cm;
}


.back_to_rolling{
position: relative;
}

.Tabs{
position: relative;
margin-left:1cm;
margin-right:1cm;
top: 1cm;
}

.windowsilder_vw{
margin-bottom:0.5cm;
}

.top{
display:block;
text-align:center;

margin-top:0.5cm;
}

.boards_and_graphs{
position: relative; 
bottom: 5cm;
}

.boards{
margin-left: 1cm;
}

.title_tab{
border-left: 5px solid;
margin-left: 1cm;
padding-left:0.3cm;
}

.Tabs_state_space{
position= relative;
margin-top: 1cm;
margin-bottom:5cm;
margin-left:1cm;
margin-right:1cm;
}

.dropdown_SP_portfolios{
position: relative;
width:6cm;
top:0.5cm;
}

.dropdown_SP_factors{
position: relative;
bottom: 0.98cm;
margin-left:7cm;
bottom:0.40cm;
width: 8cm;
}

.dropdown_SP_start{
position: relative;
bottom: -1cm;
width:6cm;
margin-bottom:2cm;
}

.dropdown_SP_end{
position: relative;
bottom: 2cm;
left:7cm;
width:8cm;
}

.ButtonRUN{
position: relative;
bottom: 4cm;
margin-left:16cm;
padding: 5px;
background-color: white;
}
.ButtonRUN:hover{
opacity:0.6;
}
.ButtonGraph:hover{
opacity:0.6;
}

.ButtonGraph{
position: relative;
left:0.5cm;
bottom: 4cm;
padding: 5px;
background-color: white;
}

.ButtonTable{
position: relative;
bottom: 4cm;
left:1cm;
padding: 5px;
background-color: white;
}
.ButtonTable:hover{
opacity:0.6;
}

.Select-all{
position: relative;
margin-left: 6cm;
}























